{% unless template == 'index' or template == 'cart' or template == 'list-collections' %}
<ol class="breadcrumb hidden-xs hidden-sm">
    <li><a href="/" title="Home">Home</a></li>
    {% if template contains 'page' %}
        <li class="active">{{ page.title }}</li>
    {% elsif template contains 'product' %}
        {% if collection.url %}
            <li>{{ collection.title | link_to: collection.url }}</li>
        {% endif %}
        <li class="active">{{ product.title }}</li>
    {% elsif template contains 'collection' and collection.handle %}

        <!-- IS THE SUB COLLECTION A CHILD A COLLECTION IN THE MAIN NAVIGATION -->
        {% assign parent_collection = '' %}
        {% unless linklists[settings.navbar_linklist] == empty %}
            {% for link in linklists[settings.navbar_linklist].links %}
                {% for sub_link in linklists[link.handle].links %}
                    {% if sub_link.handle == collection.handle %}
                        {% assign parent_collection = link.object %}
                        {% break %}
                    {% endif %}
                    {% unless parent_collection == '' %}
                        {% break %}
                    {% endunless %}
                {% endfor %}
            {% endfor %}
        {% endunless %}

        {% unless parent_collection == '' %}
            <li>{{ parent_collection.title | link_to: parent_collection.url }}</li>
        {% endunless %}

        {% if current_tags %}
            {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
            <li>{{ collection.title | link_to: url }}</li>
            <li>{{ current_tags | join: " + " }}</li>
        {% else %}
            <li class="active">{{ collection.title }}</li>
        {% endif %}
    {% elsif template == 'blog' %}
        {% if current_tags %}
            <li>{{ blog.title | link_to: blog.url }}</li>
            <li>{{ current_tags | join: " + " }}</li>
        {% else %}
            <li class="active">{{ blog.title }}</li>
        {% endif %}
    {% elsif template == 'article' %}
        <li>{{ blog.title | link_to: blog.url }}</li>
        <li class="active">{{ article.title }}</li>
    {% else %}
        <li class="active">{{ page_title }}</li>
    {% endif %}
</ol>
{% endunless %}