{% comment %}

  This snippet renders the footer at the bottom of each page.

{% endcomment %}
<footer class="footer">

    <div class="footer-nav">
        <div class="container">
            <!-- Footer Links -->
            <ul class="footer-links">
                {% for link in linklists.footer.links %}
                    <li>
                        <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                    {% unless forloop.last %}
                    <li class="muted"></li>
                    {% endunless %}
                {% endfor %}
            </ul>
         </div>
    </div>

    <!-- Payment Methods -->
    <ul class="footer-links payment-methods">
      <!-- {% include 'footer-pay' %} -->
    </ul>

    <small class="legal">
        © {{ 'now' | date: '%Y' }} URBAN FARMHOUSE DESIGNS
    </small>

    <!-- Required Shopify Link & Logout Link -->
    <small class="logout">
      {% if customer %}
          Logged in as <strong>{{ customer.name }}</strong> ({{ 'Logout' | customer_logout_link }})
      {% endif %}
    </small>
</footer>