{% comment %}

  This snippet can be used to render a Twitter, Facebook, or Pinterest
  button widget, depending on the argument it's included with, eg:

    {% include 'social-widget' with 'facebook' %}
    renders a Facebook 'Like' button for the current page.

  For more information, see:
   - http://docs.shopify.com/manual/configuration/store-customization/social-media-button

{% endcomment %}
{% unless social_url %}
    {% assign social_url = {{ shop.url }}{{ product.url }} %}
{% endunless %}
{% unless social_text %}
    {% assign social_text = {{ product.title | escape }} by {{ product.vendor | escape }} %}
{% endunless %}
{% unless social_title %}
    {% if social-widget == 'pinterest' %}
        {% assign social_title = {{ product.title | escape | replace:' ','%20' }} %}
    {% else %}
        {% assign social_title = {{ product.title | escape }} by {{ product.vendor | escape }} %}
    {% endif %}
{% endunless %}

{% assign is_product = '' %}
{% unless social_media %}
    {% assign is_product = true %}
{% endunless %}

{% if social-widget == 'twitter' %}
    <span class="st_twitter_custom st" displaytext="Tweet" st_via="urbanfarmhoused" st_username="urbanfarmhoused" st_url="{{  social_url }}" st_title="{{ social_title }}"></span>
{% endif %}
{% if social-widget == 'facebook' %}
    <span class="st_facebook_custom st" displaytext="Facebook" st_url="{{  social_url }}" st_title="{{ social_title }}" st_image="{% if is_product == '' %}{{  social_media }}{% else %}{{ product.featured_image | product_img_url: 'grande' | split:'?' | first  }}{% endif %}" st_summary="{{ social_text }}"></span>
{% endif %}
{% if social-widget == 'pinterest' %}
    <span class="st_pinterest_custom st" displaytext="Pinterest" st_url="{{  social_url }}" st_title="{{ social_title }}" st_image="{% if is_product == '' %}{{  social_media }}{% else %}{{ product.featured_image | product_img_url: 'grande' | split:'?' | first  }}{% endif %}" st_summary="{{ social_text }}"></span>
{% endif %}