<header class="page-header">
  <h1>{{ page.title }}</h1>
</header>

{% include 'breadcrumbs' %}

<div class="container gallery">
    <!-- Include any custom content. -->
    {% if page.content != blank %}
        <article>
            <div class="row">
                <div class="col-sm-12">
                        {{ page.content }}
                </div>
            </div>
        </article>
        <hr class="visible-xs"/>
    {% endif %}

    <div class="row">

        <!-- Articles List -->
        <div class="col-sm-12">

            <div class="blog-view">
                <div class="wrapper">
                    <div class="preloader" id="slider-preloader"></div>
                    <p class="visible-xs text-center"><b><i>Swipe to view more posts:</i></b></p>
                    <div class="list">
                        {% for article in blogs[page.handle].articles limit: 50 %}
                            {% assign src = '' %}
                            {% if article.content contains "<img" %}
                                {% assign src = article.content | split: 'src="' %}
                                {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn';; | replace: 'http:http://';;, 'http://';; | remove: 'https:' %}
                            {% endif %}
                            <div class="slide">
                                <a href="{{ article.url }}" article-id="{{ article.id }}">
                                    <div class="image" style="background-image:url('{{ src }}');">
                                        {% if src == blank %}
                                            <div class="placeholder"></div>
                                        {% endif %}
                                     </div>
                                    <div class="caption">{{ article.title | escape }}</div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <hr class="visible-xs"/>
            <div class="preloader" id="post-preloader"></div>
            <div id="post"></div>
        </div>
    </div>
</div>
