<!-- Wrapping Product Div -->
<div itemscope itemtype="http://schema.org/Product" class="product">

  <!-- Product Title and Price Information -->
  <header class="page-header">
    <h1>
      <span itemprop="name">
          {% if collection.title %}
                {{ collection.title }}
          {% else %}
                Products
          {% endif %}
      </span>
    </h1>
  </header>

  {% include 'breadcrumbs' %}

  <!-- Product Details -->
  <div class="row">

    <!-- Product Images & Social Widgets -->
    <div class="col-sm-6">
      <!-- Primary Image -->
      <p>
        {% if product.images.size > 0 %}
            <a href="{{ product.images | first | product_img_url: 'grande' }}" title="{{ product.title | escape }}" class="thumbnail" data-featherlight="image">
              <img src="{{ product.images | first | product_img_url: 'large' }}" alt="{{ product.title | escape }}" itemprop="image"/>
            </a>
        {% else %}
        <span class="thumbnail">
          <img src="{{ 'img-no-image.png' | asset_url }}" alt="No Image" />
        </span>
        {% endif %}
      </p>

      <!-- Other Images -->
      {% for image in product.images %}
      {% unless forloop.first %}
        {% capture iteration %}{% cycle '1', '2' %}{% endcapture %}

          {% if iteration == '1' %}
          <div class="row hidden-xs">
          {% endif %}

            <div class="col-sm-6">
              <p>
                <a href="{{ image | product_img_url: 'grande' }}" title="{{ product.title | escape }}" class="thumbnail" data-featherlight="image">
                  <img src="{{ image | product_img_url: 'large' }}" alt="{{ product.title | escape }}" itemprop="image" />
                </a>
              </p>
            </div>

          {% if iteration == '2' or forloop.last %}
          </div>
          {% endif %}
      {% endunless %}
      {% endfor %}

    </div> <!-- End Product Images & Social Widgets -->

    <!-- Product Description -->
    <div class="col-md-6" itemprop="description">
      <h2>{{ product.title }}</h2>
      {{ product.description }}

        <hr />

       <div class="price">
           {% if product.available %}
               {% if product.price_varies %}<small>base price:</small> {% endif %}
               <span itemprop="price">${{ product.price | money_without_currency }}</span>
               <meta itemprop="priceCurrency" content="{{ shop.currency }}" />

               {% if product.compare_at_price_max > product.price and settings.product_show_sale_tag %}
                   <span class="label label-success">SALE</span>
               {% endif %}
           {% else %}
               <em>Currently Unavailable</em>
           {% endif %}
       </div>

        <hr />

        <a href="/pages/call-back-request">
            <div class="well call-back" >
                <i class="fa fa-phone"></i> Request a call back
            </div>
        </a>

        <hr />

        <!-- Social Widgets -->
        <ul class="list-inline social">

            {% if settings.product_show_twitter %}
                <li>
                    {% include 'social-widget' with 'facebook' %}
                </li>

            {% endif %}

            {% if settings.product_show_facebook %}
                <li>
                    {% include 'social-widget' with 'twitter' %}
                </li>
            {% endif %}

            {% if settings.product_show_pinterest %}
                <li>
                    {% include 'social-widget' with 'pinterest' %}
                </li>
            {% endif %}
        </ul>

    </div> <!-- End Product Description -->
  </div>
</div> <!-- End wrapping product div. -->

<!-- Add to Cart Form -->
<div class="col-md-4 col-md-push-4 hide">
    <!--<form <!--action="/cart/add" method="post" role="form">-->
    <form>

        <!-- Product Variants -->
        {% if product.variants.size > 1 %}
            <div class="form-group">
                <select id="product-select" name="id" class="form-control">
                    {% for variant in product.variants %}
                        <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                    {% endfor %}
                </select>
            </div>
        {% else %}
            <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
        {% endif %}

        <!-- Add To Cart Button
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg" id="product-add">Add to Cart</button>
        </div>-->

    </form>
</div> <!-- End Add to Cart Form -->